{% extends "navbar.html" %}
{% block body %}
<br><br><br><br><br><br>
<div class="box">
    <form class="boxinni" method="post">
        <label for="navn">Navn:</label>
        <input type="text" id="navn" name="navn", required><br><br>

        <label for="etternavn">Etternavn:</label>
        <input type="text" id="etternavn" name="etternavn", required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email", required><br><br>

        <label for="passord">Passord:</label>
        <input type="password" id="passord" name="passord", required><br><br>

        <div class="knapper">
            <input onclick="tilbakemelding_knapp()" type="submit" value="registrer">
            <input onclick="nullstill()" type="reset" value="nullstill">
        </div>
        <div class="admin">
            <p>Admin?</p>
            <input type="checkbox" name="role" value="admin" id="admin">
        </div>
        <input class="admin_passord hide" type="password" placeholder="passord" name="admin_passord">
    </form>
    <div class="tilbakemelding" onload="tilbakemelding_knapp()">
        {{ tilbakemelding_registrering }}
    </div>
</div>
<ul>
    {% for i in tall_liste %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>

<style>
   .admin {
        display: flex;
        flex-direction: row;
        
   }
    
    .hide {
        visibility: hidden;
    }
</style>

<script>
    function test2() {
    console.log("called test2");
}
</script>


{% endblock %}
